
/* 3 - CRUD & COMPOSED */
/* COMPOSED ENTITY */

/* CRUD MAIN */
div.class_CRUDMain table.area_0 {
	width: 100%;
}

.class_CRUDMain table.area_centerPanel {
	width: 100%;
}

.class_CRUDMain table.area_centerPanelLeft {
	width: 100%;
}

.class_CRUDMain input.field_totalItems {
	width: 50px;
	margin-left: 3px;
}


div.jqDrag {
	background-color: #ddeeff;
	color: #aabbcc;
}


/* SEARCH ENGINE */

.queryOperationAddOperator button>img {
	background-image: url(../image/add.gif);
	display: inline;
}