.table_selection {
    width: 20px;
}

table.render_table_content thead tr .header ,table.render_tableedit_content thead tr .header {
    background-image: url(../image/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right:24px; 
}

table.render_table_content thead tr .headerSortUp ,table.render_tableedit_content thead tr .headerSortUp {
    background-image: url(../image/asc.gif);
}

table.render_table_content thead tr .headerSortDown ,table.render_tableedit_content thead tr .headerSortDown{
    background-image: url(../image/desc.gif);
}

table.render_table_content thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp,table.render_tableedit_content thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp  {
    background-color: #CCCCCC;
}

div.render_table ,div.render_tableedit {
	display: table;
}

.render_table >div,.render_tableedit >div{
	display: table-row;
}

.render_table >div>div,.render_tableedit >div>div{
	display: table-cell;
	vertical-align: top;
}
table.render_table, table.render_tableedit {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
}

.render_table th,.render_tableedit th {
	background-color: #dddddd;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.render_table td,.render_tableedit td {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-collapse: collapse;
}

.render_table >tr:HOVER >td,.render_tableedit >tr:HOVER >td {
	background-color: #F5F5F5;
}

.render_table >tr.odd:HOVER >td,.render_tableedit >tr.odd:HOVER >td {
	background-color: #F5F5F5;
}

.render_table tr.odd td,.render_tableedit tr.odd td {
	background-color: #F9F9F9;
}

button.table_actions_add,button.table_actions_edit,button.table_actions_view,button.table_actions_remove,button.table_actions_up,button.table_actions_down
{
	display: block;
	margin: 2px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center; 
}

button.table_actions_add {
	background-image: url(../image/add.gif);
}

button.table_actions_edit {
	background-image: url(../image/edit.gif);
}

button.table_actions_view {
	background-image: url(../image/view.gif);
}

button.table_actions_remove {
	background-image: url(../image/remove.gif);
}

button.table_actions_up {
	background-image: url(../image/up.gif);
}

button.table_actions_down {
	background-image: url(../image/down.gif);
}

input.table_selection {
	cursor: pointer;
}
