/* Application Style */
.class_Header button.action_home > img {
	background-image: url('../image/home.png');
	display: inline;
	width: 48px;
	height: 48px;
}

.class_Header button.action_changePassword > img {
	background-image: url('../image/changepassword.png');
	display: inline;
	width: 48px;
	height: 48px;
}

.class_Header button.action_controlPanel > img {
	background-image: url('../image/controlPanel.png');
	display: inline;
	width: 48px;
	height: 48px;
}