<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="no" default-dependency-check="none"
	default-lazy-init="false">

	<bean id="UsersModule" class="org.romaframework.module.users.UsersModule"
		singleton="true">
		<!--Password expiration in days -->
		<property name="passwordPeriod" value="" />
		<!--List of regxep used for validate password -->
		<property name="passwordMatches" >
			<list>
			</list>
		</property>
		<!-- number of days that an account can be unsed before disable -->
		<property name="accountPeriod" value="" />
		<!-- number of last password that cannot be reused -->
		<property name="passwordMaxNumber" value="" />
	</bean>

	<bean id="UsersSecurityAspect"
		class="org.romaframework.module.security.users.UsersSecurityAspect"
		singleton="true" />

	<bean id="DBLogger" class="org.romaframework.module.users.logger.DBLogger"
		depends-on="LoggingAspect" singleton="true">
		<constructor-arg>
			<ref bean="LoggingAspect" />
		</constructor-arg>
	</bean>

	<bean id="ActivityLogRepository"
		class="org.romaframework.module.users.repository.ActivityLogRepository"
		singleton="true" />
	<bean id="BaseAccountRepository"
		class="org.romaframework.module.users.repository.BaseAccountRepository"
		singleton="true" />
	<bean id="BaseAccountStatusRepository"
		class="org.romaframework.module.users.repository.BaseAccountStatusRepository"
		singleton="true" />
	<bean id="ActivityLogCategoryRepository"
		class="org.romaframework.module.users.repository.ActivityLogCategoryRepository"
		singleton="true" />
	<bean id="BaseProfileRepository"
		class="org.romaframework.module.users.repository.BaseProfileRepository"
		singleton="true" />
	<bean id="BaseGroupRepository"
		class="org.romaframework.module.users.repository.BaseGroupRepository"
		singleton="true" />

	<bean id="CustomProfilingRepository"
		class="org.romaframework.module.users.repository.CustomProfilingRepository"
		singleton="true" />

	<bean id="CustomProfilingFactory"
		class="org.romaframework.module.users.factory.CustomProfilingFactory"
		singleton="true" />

	<bean name="CustomProfiler" class="org.romaframework.module.users.CustomProfiler"
		lazy-init="true"></bean>

</beans>
